//- Carte Expérientiel Pour débuter
mj-section(background-color="#860808" padding-bottom="10px")
    mj-column
        mj-text(align="center" font-family='Arial, Helvetica, sans-serif' font-size="24px" font-weight="400" line-height="26px" color="#ffffff") Carte de l'Expérientiel
        mj-image(padding="0" src="https://i.ibb.co/P6QvFPx/rest-Long1.jpg" alt="")
mj-section(background-color="#ffffff")
    mj-column(width="40%")
        mj-image(padding="0" src="https://i.ibb.co/gZcQP3s/rest03-2024.jpg" alt="" width="480px")
    mj-column(width="60%")
        mj-text(padding-top="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="700" line-height="22px" color="#860808") Pour Débuter
        mj-table(padding-top="0")
            tr 
                td(width="75%" style="padding:10px 0") Flamiche au Maroilles et mesclun acidulé
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 10.00 €
            tr
                td(width="75%" style="padding:10px 0") Tartare de saumon, aneth et citron
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 9.50 €
            tr 
                td(width="75%" style="padding:10px 0" ) Velouté d'épinard à la Saint-Jacques
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 9.00 €
//- carte Expérientiel Pour Suivre
mj-section(background-color="#ffffff")
    mj-column(width="40%")
        mj-image(padding="0" src="https://i.ibb.co/dD6kJyT/rest02-2024.jpg" alt="" width="480px")
    mj-column(width="60%")
        mj-text(padding-top="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="700" line-height="22px" color="#860808") Pour Suivre
        mj-table(padding-top="0")
            tr 
                td(width="75%" style="padding:10px 0") Estouffade de boeuf bourguignon
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 14.50 €
            tr
                td(width="75%" style="padding:10px 0") Escalope viennoise de veau et pommes macaires
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 14.00 €
            tr 
                td(width="75%" style="padding:10px 0" ) Filet de bar au yuzu
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 13.50 €
//- carte Expérientiel Pour terminer
mj-section(background-color="#ffffff")
    mj-column(width="40%")
        mj-image(padding="0" src="https://i.ibb.co/mHVQVyH/rest01-2024.jpg" alt="" width="480px")
    mj-column(width="60%")
        mj-text(padding-top="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="700" line-height="22px" color="#860808") Pour Terminer
        mj-table(padding-top="0")
            tr 
                td(width="75%" style="padding:10px 0") Assiette gourmande
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 7.00 €
            tr
                td(width="75%" style="padding:10px 0") Coupe de glaces et sorbets
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 5.00 €
            tr 
                td(width="75%" style="padding:10px 0" ) Café ou thé gourmand
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 9.50 €
            tr 
                td(width="75%" style="padding:10px 0" ) Mousse chocolat au lait et noisette
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 7.00 €
//- CTA
mj-section(background-color="#ffffff" padding-bottom="40px")
    mj-column(width="300px")
        mj-button(width="100%" font-size="20px" font-weight="700" font-family="Arial, Helvetica, sans-serif" background-color="#860808" padding='10px 25px' color="#ffffff" href="#") Réserver une table