//- Carte sur le pouce
mj-section(background-color="#DC695E" padding-bottom="10px")
    mj-column
        mj-text(align="center" font-family='Arial, Helvetica, sans-serif' font-size="24px" font-weight="400" line-height="26px" color="#ffffff") Carte Sur le Pouce
        mj-image(padding='0' src="https://i.ibb.co/YLpRyRr/rest-Long2.jpg" alt="")
//- carte Plats
mj-section(background-color="#ffffff")
    mj-column(width='40%')
        mj-image(padding="0" src="https://i.ibb.co/pjb5dfN/rest04-2024.jpg" alt="" width="480px")
    mj-column(width='60%')
        mj-text(padding-top="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="700" line-height="22px" color="#DC695E") Une P'tite faim
        mj-table(padding-top="0")
            tr 
                td(width="75%" style="padding:10px 0" ) Plat du jour
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 10.00 €
            tr 
                td(width="75%" style="padding:10px 0" ) Chicken burger sauce tartare duo de chips
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 13.00 €
            tr
                td(width="75%" style="padding:10px 0" ) Tagliatelles fraîches à la Vogolone
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 13.00 €
            tr
                td(width="75%" style="padding:10px 0" ) Salade façon César
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 12.50 €
//- carte Desserts
mj-section(background-color="#ffffff")
    mj-column(width='40%')
        mj-image(padding="0" src="https://i.ibb.co/s21qqRj/rest05-2024.jpg" alt="" width="480px")
    mj-column(width='60%')
        mj-text(padding-top="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="700" line-height="22px" color="#DC695E") Un P'tit plaisir sucré
        mj-table(padding-top='0')
            tr 
                td(width="75%" style="padding:10px 0" ) Dessert du jour
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 6.00 €
            tr 
                td(width="75%" style="padding:10px 0" ) Salade de fruits
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 4.50 €
            tr
                td(width="75%" style="padding:10px 0" ) Café gourmand
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 9.00 €
            tr
                td(width="75%" style="padding:10px 0" ) Assiette gourmande
                td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 6.50 €
//- CTA
mj-section(background-color="#ffffff" padding-bottom="40px")
    mj-column(width="300px")
        mj-button(width="100%" font-size="20px" font-weight="700" font-family="Arial, Helvetica, sans-serif" background-color="#DC695E" padding='10px 25px' color="#ffffff" href="#") Réserver une table