//- Footer
mj-section(background-color="#860808")
    mj-column
        mj-text(font-family="Arial, Helvetica, sans-serif" font-size="14px" font-weight="400" line-height="18px" color="#ffffff")
            div(class="al") 17 place Charles et Albert Roussel
            div(class="al") 59200 Tourcoing
            div(class="al") tél. 03.20.70.06.06
            div(class="al") restaurant@ecosup-hotellerie.fr 
    mj-column
        mj-social(align="right" css-class="al" icon-size="30px" icon-padding="0 10px 10px 10px" mode="horizontal")
            mj-social-element(padding="0" src="https://i.ibb.co/ky1fWHP/facebook.png")
            mj-social-element(padding="0" src="https://i.ibb.co/yV1mvjX/Instaggram.png")
//- Regle
mj-section(padding="0")
    mj-column(width="60%")
        mj-text(padding-bottom="0" align='center' font-size='12px' font-weight="400" line-height="16px" font-family='Arial, Helvetica, sans-serif') Cet e-mail a été envoyé à admission@ecosup-campus.fr, vous l'avez reçu car vous êtes inscrit sur ECOSUP CAMPUS.
        mj-text(padding-bottom="0" padding-top="0" align='center' font-size='12px' font-weight="400" line-height="16px" font-family='Arial, Helvetica, sans-serif') Se désinscrire
        mj-text(align='center' font-size='12px' font-weight="400" line-height="16px" font-family='Arial, Helvetica, sans-serif') ©2024 ECOSUP CAMPUS

