//- Header
mj-section(background-color="#860808" padding-left="25px" padding-right="25px" padding-bottom="0")
    mj-column(with="50%")
        mj-image(width="200px" src="https://5xgb2.img.a.d.sendibm1.com/im/sh/IfBxYM56F84m.png?u=7xwQLFBtniwQn1M7ZYUgG6RfSWbH9BT")
    mj-column(width="50%")
        mj-social(align="right" css-class="al" icon-size="30px" icon-padding="10px" mode="horizontal")
            mj-social-element(padding="0" src="https://i.ibb.co/ky1fWHP/facebook.png")
            mj-social-element(padding="0" src="https://i.ibb.co/yV1mvjX/Instaggram.png")
//- Date
mj-section(background-color="#860808" padding="0 35px 20px 35px")
    mj-column
        mj-text(css-class="al" font-family='Arial, Helvetica, sans-serif' font-size='19px' font-weight='700' line-height='25px' color='#ffffff' text-transform='uppercase') newsletter 106 | #[span(css-class="al" style="font-weight: 300") septembre 2024]
//- espace
mj-section(padding="0")
    mj-column
        mj-spacer(height="20px")