//- Offre ardoise
mj-section(background-color="#3e3936" background-url="https://i.ibb.co/cbwR4XJ/fond-Matiere.jpg" background-repeat="no-repeat")
    mj-column(width="70%")
        mj-text(align="center" padding-bottom="0" font-family="Norican" font-size="35px" color="#ffffff") Menus Ardoise
        mj-table(align="center" color="#ffffff" font-family="Norican" font-size="16px" line-height="180%")
            tr
                td(colspan="2" style="font-size:16px;letter-spacing:2px;") Menu
            tr  
                td(width="70%" style="font-size:24px;letter-spacing:2px;") "Je suis attendu"
                td(width="30%" style="font-size:22px;text-align:right;") 17.00 €
            tr
                td(colspan="2" style="font-family:Arial,Helvetica,sans-serif;font-style:italic;padding-left:50px") entrée + plat ou plat + dessert
            tr
                td(colspan="2" style="font-size:16px;letter-spacing:2px;") Menu
            tr
                td(width="70%" style="font-size:24px;letter-spacing:1px;") "J'ai rendez-vous"
                td(width="30%" style="font-size:22px;text-align:right") 20.00 €
            tr
                td(colspan="2" style="font-family:Arial,Helvetica,sans-serif;font-style:italic;padding-left:50px") entrée + plat + dessert
//- espace
mj-section(background-color="#ffffff" padding="0")
    mj-column
        mj-spacer(height="40px")