extends templates/_layout
//- content
block content
    //- Text Reglement
    mj-section(padding-top='5px' padding-bottom='3px' )
        mj-column
            mj-text(align='center' font-size='12px' font-weight="400" line-height="16px" font-family='Arial, Helvetica, sans-serif') Si vous ne parvenez pas à lire cet email cliquez ici 
    //- Header
    mj-section(background-color="#860808")
        mj-column
            mj-image( src="https://5xgb2.img.a.d.sendibm1.com/im/sh/IfBxYM56F84m.png?u=7xwQLFBtniwQn1M7ZYUgG6RfSWbH9BT")
        mj-column
            mj-social
                mj-social-element
                mj-social-element
            mj-text(font-family='Arial, Helvetica, sans-serif' font-size='19px' font-weight='700' line-height='25px' color='#ffffff' text-transform='uppercase') newsletter 106
    //- Carte Expérientiel Pour débuter
    mj-section(background-color="#860808" padding-bottom="10px")
        mj-column
            mj-text(align="center" font-family='Arial, Helvetica, sans-serif' font-size="24px" font-weight="400" line-height="26px" color="#ffffff") Carte de l'Expérientiel
            mj-image(padding="0" src="https://i.ibb.co/P6QvFPx/rest-Long1.jpg" alt="")
    mj-section(background-color="#ffffff")
        mj-column(width="40%")
            mj-image(padding="0" src="https://i.ibb.co/gZcQP3s/rest03-2024.jpg" alt="" width="480px")
        mj-column(width="60%")
            mj-text(padding-top="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="700" line-height="22px" color="#860808") Pour Débuter
            mj-table(padding-top="0")
                tr 
                    td(width="75%" style="padding:10px 0") Flamiche au Maroilles et mesclun acidulé
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 10.00 €
                tr
                    td(width="75%" style="padding:10px 0") Tartare de saumon, aneth et citron
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 9.50 €
                tr 
                    td(width="75%" style="padding:10px 0" ) Velouté d'épinard à la Saint-Jacques
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 9.00 €
    //- carte Expérientiel Pour Suivre
    mj-section(background-color="#ffffff")
        mj-column(width="40%")
            mj-image(padding="0" src="https://i.ibb.co/dD6kJyT/rest02-2024.jpg" alt="" width="480px")
        mj-column(width="60%")
            mj-text(padding-top="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="700" line-height="22px" color="#860808") Pour Suivre
            mj-table(padding-top="0")
                tr 
                    td(width="75%" style="padding:10px 0") Estouffade de boeuf bourguignon
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 14.50 €
                tr
                    td(width="75%" style="padding:10px 0") Escalope viennoise de veau et pommes macaires
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 14.00 €
                tr 
                    td(width="75%" style="padding:10px 0" ) Filet de bar au yuzu
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 13.50 €
    //- carte Expérientiel Pour terminer
    mj-section(background-color="#ffffff")
        mj-column(width="40%")
            mj-image(padding="0" src="https://i.ibb.co/mHVQVyH/rest01-2024.jpg" alt="" width="480px")
        mj-column(width="60%")
            mj-text(padding-top="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="700" line-height="22px" color="#860808") Pour Terminer
            mj-table(padding-top="0")
                tr 
                    td(width="75%" style="padding:10px 0") Assiette gourmande
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 7.00 €
                tr
                    td(width="75%" style="padding:10px 0") Coupe de glaces et sorbets
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 5.00 €
                tr 
                    td(width="75%" style="padding:10px 0" ) Café ou thé gourmand
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 9.50 €
                tr 
                    td(width="75%" style="padding:10px 0" ) Mousse chocolat au lait et noisette
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 7.00 €
    //- CTA
    mj-section(background-color="#ffffff" padding-bottom="40px")
        mj-column(width="300px")
            mj-button(width="100%" font-size="20px" font-weight="700" font-family="Arial, Helvetica, sans-serif" background-color="#860808" padding='10px 25px' href="#") Réserver une table
    //- Offre ardoise
    mj-section(background-color="#3e3936" background-url="https://i.ibb.co/cbwR4XJ/fond-Matiere.jpg" background-repeat="no-repeat")
        mj-column(width="70%")
            mj-text(align="center" padding-bottom="0" font-family="Norican" font-size="35px" color="#ffffff") Menus Ardoise
            mj-table(align="center" color="#ffffff" font-family="Norican" font-size="16px" line-height="180%")
                tr
                    td(colspan="2" style="font-size:16px;letter-spacing:2px;") Menu
                tr  
                    td(width="70%" style="font-size:24px;letter-spacing:2px;") "Je suis attendu"
                    td(width="30%" style="font-size:22px;text-align:right;") 17.00 €
                tr
                    td(colspan="2" style="font-family:Arial,Helvetica,sans-serif;font-style:italic;padding-left:50px") entrée + plat ou plat + dessert
                tr
                    td(colspan="2" style="font-size:16px;letter-spacing:2px;") Menu
                tr
                    td(width="70%" style="font-size:24px;letter-spacing:1px;") "J'ai rendez-vous"
                    td(width="30%" style="font-size:22px;text-align:right") 20.00 €
                tr
                    td(colspan="2" style="font-family:Arial,Helvetica,sans-serif;font-style:italic;padding-left:50px") entrée + plat + dessert
    //- espace
    mj-section(background-color="#ffffff" padding="0")
        mj-column
            mj-spacer(height="40px")
    //- Carte sur le pouce
    mj-section(background-color="#DC695E" padding-bottom="10px")
        mj-column
            mj-text(align="center" font-family='Arial, Helvetica, sans-serif' font-size="24px" font-weight="400" line-height="26px" color="#ffffff") Carte Sur le Pouce
            mj-image(padding='0' src="https://i.ibb.co/YLpRyRr/rest-Long2.jpg" alt="")
    //- carte Plats
    mj-section(background-color="#ffffff")
        mj-column(width='40%')
            mj-image(padding="0" src="https://i.ibb.co/pjb5dfN/rest04-2024.jpg" alt="" width="480px")
        mj-column(width='60%')
            mj-text(padding-top="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="700" line-height="22px" color="#DC695E") Une P'tite faim
            mj-table(padding-top="0")
                tr 
                    td(width="75%" style="padding:10px 0" ) Plat du jour
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 10.00 €
                tr 
                    td(width="75%" style="padding:10px 0" ) Chicken burger sauce tartare duo de chips
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 13.00 €
                tr
                    td(width="75%" style="padding:10px 0" ) Tagliatelles fraîches à la Vogolone
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 13.00 €
                tr
                    td(width="75%" style="padding:10px 0" ) Salade façon César
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 12.50 €
    //- carte Desserts
    mj-section(background-color="#ffffff")
        mj-column(width='40%')
            mj-image(padding="0" src="https://i.ibb.co/s21qqRj/rest05-2024.jpg" alt="" width="480px")
        mj-column(width='60%')
            mj-text(padding-top="25px" font-family="Arial, Helvetica, sans-serif" font-size="18px" font-weight="700" line-height="22px" color="#DC695E") Un P'tit plaisir sucré
            mj-table(padding-top='0')
                tr 
                    td(width="75%" style="padding:10px 0" ) Dessert du jour
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 6.00 €
                tr 
                    td(width="75%" style="padding:10px 0" ) Salade de fruits
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 4.50 €
                tr
                    td(width="75%" style="padding:10px 0" ) Café gourmand
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 9.00 €
                tr
                    td(width="75%" style="padding:10px 0" ) Assiette gourmande
                    td(width="25%" align="right" style="padding:10px 0;vertical-align:top;") 6.50 €
    //- CTA

    mj-section(background-color="#ffffff" padding-bottom="40px")
        mj-column(width="300px")
            mj-button(width="100%" font-size="20px" font-weight="700" font-family="Arial, Helvetica, sans-serif" background-color="#DC695E" padding='10px 25px' href="#") Réserver une table
    //- Footer
    mj-section(background-color="#860808")
        mj-column
            mj-text(font-family="Arial, Helvetica, sans-serif" font-size="14px" font-weight="400" line-height="18px" color="#ffffff")
                div 17 place Charles et Albert Roussel
                div 59200 Tourcoing
                div tél. 03.20.70.06.06
                div restaurant@ecosup-hotellerie.fr 
    mj-section(padding="0")
        mj-column(width="60%")
            mj-text(padding-bottom="0" align='center' font-size='12px' font-weight="400" line-height="16px" font-family='Arial, Helvetica, sans-serif') Cet e-mail a été envoyé à admission@ecosup-campus.fr, vous l'avez reçu car vous êtes inscrit sur ECOSUP CAMPUS.
            mj-text(padding-bottom="0" padding-top="0" align='center' font-size='12px' font-weight="400" line-height="16px" font-family='Arial, Helvetica, sans-serif') Se désinscrire
            mj-text(align='center' font-size='12px' font-weight="400" line-height="16px" font-family='Arial, Helvetica, sans-serif') ©2024 ECOSUP CAMPUS

