extends templates/_layout
//- content
block content
    //- Text Reglement
    mj-section(padding-top='5px' padding-bottom='3px' )
        mj-column
            mj-text(align='center' font-size='12px' font-weight="400" line-height="16px" font-family='Arial, Helvetica, sans-serif') Si vous ne parvenez pas à lire cet email cliquez ici